# First ignoring all files
*

# Now removing from ignore list

!.gitignore

# Common folders
!.config/
!.local/
!.local/share/

# Git
!.gitignore_global
!.gitconfig

# Bash
!.bashrc
!.bash_profile
!.bash_logout

!.config/bash/
!.config/bash/*
!.config/bash/*/
!.config/bash/*/*

# Installed pacman apps
!.config/.apps

# README
!README.md

#
# Environment
#

# Autostart

!.config/autostart/
!.config/autostart/*

# XFCE

!.config/xfce4/
!.config/xfce4/desktop/
!.config/xfce4/desktop/*
!.config/xfce4/xfconf/
!.config/xfce4/xfconf/xfce-perchannel-xml/
!.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-appfinder.xml
# !.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-desktop.xml # Desktop is managed by variety
!.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-keyboard-shortcuts.xml
!.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-mixer.xml
# !.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-panel.xml # Changes too often
!.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-power-manager.xml
!.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-session.xml
!.config/xfce4/xfwm4/
!.config/xfce4/xfwm4/*

!.local/share/xfce4/
!.local/share/xfce4/helpers
!.local/share/xfce4/helpers/*

# Sound

!.config/pulse/
!.config/pulse/*.pa
!.pulse/
!.pulse/equalizer-*.tdb

# Desktop

!.local/share/wallpapers/
!.local/share/wallpapers/min/
!.local/share/wallpapers/min/*

!.config/variety/
!.config/variety/variety.conf

!.conky/
!.conky/*
!.conky/**/
!.conky/**/*

# File Manager

!.config/pcmanfm/
!.config/pcmanfm/default/
!.config/pcmanfm/default/pcmanfm.conf

# PAM ENV
!.pam_environment

#
# Terminal
#

# Konsole/Yakuake
!.config/konsolerc
!.config/yakuakerc
!.local/share/konsole/
!.local/share/konsole/*

#
# Media
#

# Firefox
!.mozilla/
!.mozilla/firefox/
!.mozilla/firefox/profiles.ini
!.mozilla/firefox/profile/
!.mozilla/firefox/profile/user.js

# Video - MPV
!.config/mpv/
!.config/mpv/input.conf

# Music - DeadBeef
!.config/deadbeef/
!.config/deadbeef/config

# Anime
!.trackma/
!.trackma/*.json

#
# Programming
#

# Vim
!.vimrc

# Visual Studio
!.config/Code\ -\ OSS
!.config/Code\ -\ OSS/User
!.config/Code\ -\ OSS/User/settings.json
