# First ignoring all files
*

# Now removing from ignore list

!.gitignore

# Git
!.gitconfig

# Bash
!.bashrc
!.bash_profile
!.bash_logout

!.config/
!.config/bash/
!.config/bash/*
!.config/bash/*/
!.config/bash/*/*

# Installed pacman apps
!.config/.apps

# Wallpapers
!.local/
!.local/share/
!.local/share/wallpapers/
!.local/share/wallpapers/min/
!.local/share/wallpapers/min/*

# Vim
!.vimrc

# MPV
!.config/mpv/
!.config/mpv/input.conf

# README
!README.md