# First ignoring all files
*

# Now removing from ignore list

!.gitignore

# Common folders
!.config/
!.local/
!.local/share/

# Git
!.gitignore_global
!.gitconfig

# Bash
!.bashrc
!.bash_profile
!.bash_logout
!.inputrc

!.config/bash/
!.config/bash/*
!.config/bash/*/
!.config/bash/*/*
.config/bash/personal

# Installed pacman apps
!.config/.apps
# Installed python libs
!.config/.python-libs

# README
!README.md
!.local/share/screenshots/
!.local/share/screenshots/preview/
!.local/share/screenshots/preview/*
!.local/share/screenshots/preview/**/*

# LICENSE
!LICENSE.txt

#
# Environment
#

# Autostart

!.config/autostart/
!.config/autostart/*
# !.config/xfce4/autostart # added bellow

# Sound

!.config/pulse/
!.config/pulse/*.pa
!.pulse/
!.pulse/equalizer-*.tdb

# Desktop

!.local/share/wallpapers/
!.local/share/wallpapers/min/
!.local/share/wallpapers/min/*
!.local/share/wallpapers/9/
!.local/share/wallpapers/9/*
!.local/share/wallpapers/blur/
!.local/share/wallpapers/blur/*

!.config/variety/
!.config/variety/variety.conf

!.conky/
!.conky/*
!.conky/**/
!.conky/**/*

!.devilspie
!.devilspie/*

# App Launcher
!.config/rofi
!.config/rofi/*

# Status Bar

!.config/polybar
!.config/polybar/config

# Composite Manager

!.config/compton.conf

# PAM ENV
!.pam_environment

#
# DESKTOP ENVIRONMENTS
#

# XFCE

!.config/xfce4/
!.config/xfce4/xinitrc
!.config/xfce4/autostart
!.config/xfce4/desktop/
!.config/xfce4/desktop/*
!.config/xfce4/xfconf/
!.config/xfce4/xfconf/xfce-perchannel-xml/
!.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-appfinder.xml
# !.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-desktop.xml # Desktop is managed by variety
!.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-keyboard-shortcuts.xml
!.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-mixer.xml
# !.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-panel.xml # Changes too often
!.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-power-manager.xml
!.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-session.xml
!.config/xfce4/xfwm4/
!.config/xfce4/xfwm4/*

!.local/share/xfce4/
!.local/share/xfce4/helpers
!.local/share/xfce4/helpers/*

# i3

!.config/i3/
!.config/i3/config
!.config/i3/i3blocks.conf
!.config/i3/workspaces/
!.config/i3/workspaces/*
!.config/i3/scripts/
!.config/i3/scripts/*

#
# File Manager
#

# PcManFM
!.config/pcmanfm/
!.config/pcmanfm/default/
!.config/pcmanfm/default/pcmanfm.conf

# Thunar
!.config/Thunar/
!.config/Thunar/*

# Ranger
!.config/ranger/
!.config/ranger/rc.conf
!.config/ranger/scope.sh

#
# Terminal
#

# X resources - mainly for urxvt
!.Xdefaults
!.Xresources

# Konsole/Yakuake
!.config/konsolerc
!.config/yakuakerc
!.local/share/konsole/
!.local/share/konsole/*

# xfce4-terminal
!.config/xfce4/terminal/
!.config/xfce4/terminal/*

#
# Powerline
#
!.config/powerline/
!.config/powerline/*
!.config/powerline/themes/
!.config/powerline/themes/*
!.config/powerline/themes/**/*
!.config/powerline/colorschemes/
!.config/powerline/colorschemes/**/*

#
# Media
#

# Browser - Firefox
!.mozilla/
!.mozilla/firefox/
!.mozilla/firefox/profiles.ini
!.mozilla/firefox/profile/
!.mozilla/firefox/profile/user.js
!.mozilla/firefox/profile/chrome/
!.mozilla/firefox/profile/chrome/*

# Video - MPV
!.config/mpv/
!.config/mpv/input.conf

# Music - DeadBeef
!.config/deadbeef/
!.config/deadbeef/config

# Sound - Cava
!.config/cava/
!.config/cava/config

# Anime
!.trackma/
!.trackma/*.json

#
# Programming
#

# Vim
!.vimrc

# Visual Studio
!.config/Code\ -\ OSS
!.config/Code\ -\ OSS/User
!.config/Code\ -\ OSS/User/settings.json
