[user]
	name = Rodrigo Seiji Piubeli Hirao
	email = rodrigo.seiji.hirao@gmail.com

[core]
	editor = vim
	fileMode = false
	excludesfile = ~/.gitignore_global
	quotepath = false
[push]
	default = simple
[http]
	emptyAuth = true
